<variant-selects
  data-section="{{ section.id }}"
>
  {%- for option in product.options_with_values -%}
    <fieldset data-option-name="{{ option.name }}" class="js product-form__input product-form__input--swatch">
      <legend class="form__label">
        {{ option.name }} :
        <span data-selected-value>
          {{- option.selected_value -}}
        </span>
      </legend>
      {% comment %} {% render 'product-variant-options',
        product: product,
        option: option,
        block: block,
        picker_type: picker_type,
        bundle: bundle,
        bundle_url: bundle_url
      %} {% endcomment %}
        
    </fieldset>
  {% endfor %}
</variant-selects>
