<div class="wrapper">
  <section class="the-journal top-section">
    <div class="container">
      <div class="new-arrivals-inner">
        <div class="new-ar-btn">
          <div class="arrow-btn">
            <span>The Journal</span>
          </div>
        </div>
        <div class="new-ar-product product-card-main">
          <div class="journal-wrapper">
            <div class="journal-info">
              <div class="journal-info-top">
                <h3>Latest on the Journal</h3>
                <div class="sh1">DECEMBER 2020</div>
              </div>
              <div class="journal-info-img">
                <img class="desk" src="images/the-journal-info-img.png" alt="Journal Info">
                <img class="mob" src="images/the-journal-mob-img.png" alt="">
              </div>
              <div class="journal-info-content">
                <div class="journal-info-top">
                  <h3>Latest on the Journal</h3>
                  <div class="sh1">DECEMBER 2020</div>
                </div>
                <div class="journal-info-bottom">
                  <h2>Journal Post Title Goes Here</h2>
                  <div class="sh1">
                    A snapshot of copy taken from the introductory paragraph of the latest blogpost could go here to
                    draw the reader in and encourage them to continue reading. A snapshot of copy taken from the
                    introductory paragraph of the … <a href="#">continue reading.</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="journal-blog">
              <a href="#">
                <div class="jr-blog-img">
                  <img src="images/jr-1.png" alt="Journal Image">
                </div>
                <div class="jr-blog-content">
                  <div class="sh2">Journal Post Title Here</div>
                  <div class="sh1">DECEMBER 2020</div>
                </div>
              </a>
            </div>
            <div class="journal-blog">
              <a href="#">
                <div class="jr-blog-img">
                  <img src="images/jr-2.png" alt="Journal Image">
                </div>
                <div class="jr-blog-content">
                  <div class="sh2">Journal Post Title Here</div>
                  <div class="sh1">DECEMBER 2020</div>
                </div>
              </a>
            </div>
            <div class="journal-blog">
              <a href="#">
                <div class="jr-blog-img">
                  <img src="images/jr-3.png" alt="Journal Image">
                </div>
                <div class="jr-blog-content">
                  <div class="sh2">Journal Post Title Here</div>
                  <div class="sh1">DECEMBER 2020</div>
                </div>
              </a>
            </div>
            <div class="journal-blog">
              <a href="#">
                <div class="jr-blog-img">
                  <img src="images/jr-1.png" alt="Journal Image">
                </div>
                <div class="jr-blog-content">
                  <div class="sh2">Journal Post Title Here</div>
                  <div class="sh1">DECEMBER 2020</div>
                </div>
              </a>
            </div>
            <div class="journal-blog">
              <a href="#">
                <div class="jr-blog-img">
                  <img src="images/jr-2.png" alt="Journal Image">
                </div>
                <div class="jr-blog-content">
                  <div class="sh2">Journal Post Title Here</div>
                  <div class="sh1">DECEMBER 2020</div>
                </div>
              </a>
            </div>
            <div class="journal-blog">
              <a href="#">
                <div class="jr-blog-img">
                  <img src="images/jr-3.png" alt="Journal Image">
                </div>
                <div class="jr-blog-content">
                  <div class="sh2">Journal Post Title Here</div>
                  <div class="sh1">DECEMBER 2020</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% comment %} <section class="the-journal bottom-section">
    <div class="container">
      <div class="new-arrivals-inner">
        <div class="new-ar-btn"></div>
        <div class="new-ar-product product-card-main">
          <div class="journal-wrapper">
            <div class="journal-blog">
              <a href="#">
                <div class="jr-blog-img">
                  <img src="images/jr-1.png" alt="Journal Image">
                </div>
                <div class="jr-blog-content">
                  <div class="sh2">Journal Post Title Here</div>
                  <div class="sh1">DECEMBER 2020</div>
                </div>
              </a>
            </div>
            <div class="journal-blog">
              <a href="#">
                <div class="jr-blog-img">
                  <img src="images/jr-2.png" alt="Journal Image">
                </div>
                <div class="jr-blog-content">
                  <div class="sh2">Journal Post Title Here</div>
                  <div class="sh1">DECEMBER 2020</div>
                </div>
              </a>
            </div>
            <div class="journal-blog">
              <a href="#">
                <div class="jr-blog-img">
                  <img src="images/jr-3.png" alt="Journal Image">
                </div>
                <div class="jr-blog-content">
                  <div class="sh2">Journal Post Title Here</div>
                  <div class="sh1">DECEMBER 2020</div>
                </div>
              </a>
            </div>
            <div class="journal-blog">
              <a href="#">
                <div class="jr-blog-img">
                  <img src="images/jr-1.png" alt="Journal Image">
                </div>
                <div class="jr-blog-content">
                  <div class="sh2">Journal Post Title Here</div>
                  <div class="sh1">DECEMBER 2020</div>
                </div>
              </a>
            </div>
            <div class="journal-blog">
              <a href="#">
                <div class="jr-blog-img">
                  <img src="images/jr-2.png" alt="Journal Image">
                </div>
                <div class="jr-blog-content">
                  <div class="sh2">Journal Post Title Here</div>
                  <div class="sh1">DECEMBER 2020</div>
                </div>
              </a>
            </div>
            <div class="journal-blog">
              <a href="#">
                <div class="jr-blog-img">
                  <img src="images/jr-3.png" alt="Journal Image">
                </div>
                <div class="jr-blog-content">
                  <div class="sh2">Journal Post Title Here</div>
                  <div class="sh1">DECEMBER 2020</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="page-change-btn">
        <div class="page-arrow-btn back-btn">
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14">
              <g><g><path d="M.593 7.724h16.78l.026.071c-.279.27-.558.542-.84.808-1.552 1.488-3.108 2.97-4.66 4.454l-.048.043.588.494a1689.81 1689.81 0 0 0 3.927-3.747c.728-.694 1.456-1.385 2.18-2.083.326-.314.326-.479-.005-.797C16.532 5.045 14.27 2.922 12.261 1l-.558.444c1.765 1.687 3.779 3.66 5.544 5.348.056.055.135.102.17.223H.593"/><path fill="none" stroke="#000" stroke-miterlimit="20" stroke-width=".3" d="M.593 7.724h16.78l.026.071c-.279.27-.558.542-.84.808-1.552 1.488-3.108 2.97-4.66 4.454l-.048.043v0l.588.494a1689.81 1689.81 0 0 0 3.927-3.747c.728-.694 1.456-1.385 2.18-2.083.326-.314.326-.479-.005-.797C16.532 5.045 14.27 2.922 12.261 1v0l-.558.444v0c1.765 1.687 3.779 3.66 5.544 5.348.056.055.135.102.17.223H.593"/></g></g>
            </svg>
            <span>back</span>
          </a>
        </div>
        <div class="page-arrow-btn">
          <a href="#">
            <span>next</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14">
              <g><g><path d="M.593 7.724h16.78l.026.071c-.279.27-.558.542-.84.808-1.552 1.488-3.108 2.97-4.66 4.454l-.048.043.588.494a1689.81 1689.81 0 0 0 3.927-3.747c.728-.694 1.456-1.385 2.18-2.083.326-.314.326-.479-.005-.797C16.532 5.045 14.27 2.922 12.261 1l-.558.444c1.765 1.687 3.779 3.66 5.544 5.348.056.055.135.102.17.223H.593"/><path fill="none" stroke="#000" stroke-miterlimit="20" stroke-width=".3" d="M.593 7.724h16.78l.026.071c-.279.27-.558.542-.84.808-1.552 1.488-3.108 2.97-4.66 4.454l-.048.043v0l.588.494a1689.81 1689.81 0 0 0 3.927-3.747c.728-.694 1.456-1.385 2.18-2.083.326-.314.326-.479-.005-.797C16.532 5.045 14.27 2.922 12.261 1v0l-.558.444v0c1.765 1.687 3.779 3.66 5.544 5.348.056.055.135.102.17.223H.593"/></g></g>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section> {% endcomment %}
</div>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
