<p>THis is Test Section</p>
{% content_for 'blocks' %}


{% schema %}
{
    "name": "New Block Section",    
    "settings": [],
    "blocks": [
        {
            "type": "@theme"
        },
        {
            "type": "text"
        }
    ],
    "presets": [
        {
            "name": "New Block Section"
        }
    ]
}
{% endschema %}